{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<p><a href="{{path('app_famille_new')}}"> New famille</a></p>
<p><a href="{{path('app_article_new')}}"> New article</a></p>
{% endblock %}
